/*theboxmodel
propiedades:
	-ancho,alto del area de contenido
	-padding: espacio entre el area de contenido y el borde
	-borde:grosor y estilo del borde que contiene al areay padding
	-margen: espacio entre el borde y el limite del elemento
		margen horizontal se suma, margen vertical no
*/

/*resetting defaults*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;/*dentrode width se incluye bode y padding*/
	/*default es content-box*/
}

.wrapper{
	width:500px;
	height:600px;
	overflow:scroll; /*hidden,scroll,visible*/
}

body{
	background-color:hsl(240,100%,25%);
}

.midground{
	background-color:hsl(225,50%,25%);
	border: 3px solid coral;
	border-radius:20px;
	padding: 6px 20px 30px 40px;/*top,right,bottom,left*/
	margin: 100px 40px 10px 200px;
}

.foreground{
	height:60px;
	width:60px;
	background-color:hsl(325,50%,50%);
	border: 5px solid green;
	border-radius:50%;
	padding:60px;
}

.foreground2{
	height:30px;
	width:100px;
	margin: 100px auto;
	background-color:hsl(325,50%,50%,0.4);
	min-width:50px;
	max-width:200px;
	min-height:10px;
	max-height:50px;
	visibility:visible;/*none,hidden,visible,collapse*/
}

.wrapper2{
	color:red;
	width:100px;
	height:200px;
	border: 2px solid violet;
	background-color:hsl(270,100%,50%,1);
}

/*relativo a la posicion estatica default Permanece en el flujo normal del documento*/
.relativo{
	position:relative;
	top:-200px;
	left:100px;
	z-index:1;/*profundidad*/
}

/*absoluto, los elementos de la pagina lo ignoran y se posiciona relativo a la posicion de su elemento padre Fuera del flujo normal del documento*/
.absoluto{
	position:absolute;
	top:600px;
	left:200px;
}

/*fijo a una posicion especifica en la pagina, usado para barras de navegacion Fuera del flujo normal del documento*/
.fijo{
	position:fixed;
	top:600px;
	left:300px;
}

/*sticky*/
.stick{
	position:sticky;
	top:100px;
	left:400px;
}
.absoluto2{
	position:absolute;
	top:600px;
	left:100px;
}


.wrapper3{
	color:red;
	width:100px;
	height:200px;
	border: 2px solid violet;
	background-color:hsl(0,100%,50%,0.51);
}

/*display inline,block,inline-block
inline: no puede definir su ancho ni alto*/
.enlinea{
	display:inline-block;
}	

.der{
	float:right;
}
