/*
p{
	color:blue;
}
selector:p
declaration block:{...}
declaration:color:blue;
property:color
value:blue
*/

/*universal selector*/
*{
	border:1px solid blue;
}

/*type selector*/
p{
	color:red;
}

/*class selector*/
.dibu{
	color:teal;
}

/*class selector*/
.bold{
	font-weight: bold;
}

/*id selector*/
#tabla0{
	font-family:cursive;
}

/*attribute selector:type[attribute*=value]*/
a[href*='org']{
	color:lightblue;
}

/*attribute selector:type[attribute*=value]*/
img[src*='png']{
	height:100px;
}

/*pseudo-class selector:focus,visited,disabled,active*/
p:hover{
	background-color:orange;
}

/*chaining*/
li.cuate{
	color:violet;
}

/*descendant selector: nested elements*/
section article:hover{
	background-color:violet;
}

/*multiple selectors*/
figcaption, tfoot td{
	background-color:violet;
	font-family:Caslon,'Courier New',serif;/*revisar websafefonts,fontstack, fallback fonts*/
	font-size:30px;
	font-weight:bold;/*rangefrom1 to 1000, bold,normal,lighter,bolder*/
	font-style:italic;
	text-transform:uppercase;
	text-align:right;
	color:lightblue;
	letter-spacing:2px;
	word-spacing:3px;/*em*/
	line-height:12px;/*%,em,1.2*/
	opacity:0.4;
}

footer{
	background-image:url('../../../i/a.png');
	color:blue !important;
}
